<div class="centrado">
  <div class="jumbotron bg-dark">
    <h1 class="display-4 text-center text-light">Bienvenido!</h1>
    <p class="lead text-center text-light">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="text-center text-light">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead text-center">
      <a class="btn btn-light btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>