<h2>Tecnologías</h2>
<hr />
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="card-group">
      <div class="card">
        <div class="card-img-top text-center">
          <img class="card-image" src="../../../assets/html.png" alt="title-card">
        </div>
        <div class="card-body">
          <h5 class="card-title">HTML5</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-info">Mas información</button>
        </div>
      </div>
    </div>
  </div>
</div>