<div class="row cabecera">
  <h2>Tecnologías</h2>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
  </form>
</div>
<hr />
<div class="row">
  <ng-container *ngFor="let concepto of diccionario">
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-3 elemento">
        <div class="card-img-top text-center">
          <img class="card-image" [src]="concepto.imagen" alt="title-card">
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{ concepto.titulo }} </h5>
          <p class="card-text"> {{ concepto.descripcion }} </p>
        </div>
      </div>   
    </div>
  </ng-container>
</div>